@import url("https://www.w3schools.com/w3css/4/w3.css");

#dialog-section {
  position: relative;
}

.w3-modal-content {
  background: var(--prim-color);
}

#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
  margin:auto;
}

#delete-content {
  margin-bottom: 10px;
}

#delete-dialog button {
  margin-right: 10px;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form-success-story {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  margin: auto; /* Center the form itself */
  justify-content: center;
  background: var(--prim-color);
  width:100%;
}

.user-info {
  color: var(--sec-color);
  font-style:normal; /* Why no work? */
  background-color:white;
}

#img-preview-section {
  max-width:60%;
  margin:5px;
}

#img-prev {
  max-width: 100%;
}

.detail-section {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  margin: auto; /* Center the form itself */
  justify-content: center;
}

@media only screen and (min-width: 600px) {

  #w3-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
  }

  #add-dialog,
  #edit-dialog,
  #delete-dialog {
    display: block;
    margin:auto;
  }

  #form-success-story {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin: auto; /* Center the form itself */
    justify-content: center;
  }

  .detail-section {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin: auto; /* Center the form itself */
    justify-content: center;
  }

  #img-preview {
      flex:1;
  }

  #img-prev {
      max-width: 100%;
  }

  #img-upload {
      flex: 5;
  }
}
