/* Information */
#symp-list{
    font-size:19px;
    text-align:left;
}

#symp-list li{
    padding:7px;
}

#copyright {
    font-size:10px;
}

.block {
    display:flex;
}

#chart-img {
    margin-top:5px;
    max-height:100%;
    max-width:100%;
    margin-bottom:5px;
}

#long {
    overflow-y:visible;
}

#buttons {
    padding-left:0px;
}

#buttons li{
    display:inline-block;
    list-style-type: none;
}

@media only screen and (min-width:600px) {
    /* Info */
    #button{ /* Can't seem to get these guys to vertically align. */
        display:none;
    }
}