:root {
  --prim-color:#0D1130;
  --sec-color:#E2CE28;
  --bckgrd-color:#2A3162;
  --nav-color:white;
  --input-color:grey;
}

@font-face {
  font-family: 'website-font';
  src: url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
}

.jost {
  font-family: "Jost", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.center {
  text-align:center;
}

.long {
  overflow-y:visible;
}

/* FORMAT & STYLES*/
#main-html {
  background-color:var(--bckgrd-color);
  align-items: center;
}

body {
  align-items: center;
  color:var(--sec-color);
  font-family: 'website-font';
  overflow-x: hidden;
  overflow-y: hidden;
}

p {
  text-align:left;
  font-size:19px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

div {
  background-color:var(--prim-color);
  padding: 12px;
  margin-bottom:10px;
  border-radius:3px;
}

.star {
  position: absolute;
  color: var(--sec-color);
  font-size: 20px;
  z-index: -2;
  background:none;
}

#star-printout {
  position:relative;
  background-color:none;
  background:none;
  max-width:100%;
  height:100vh;
  overflow:hidden;
}

@media only screen and (min-width:600px) {
  #main-html {
    max-width:60%;
    margin:auto;
  }

  .columns {
    display:flex;
  }

  .columns .one button {
    display: block;
    margin: auto; /* add some margin between buttons */
    margin-bottom: 10px;
  font-size:20px;
  }

  .life-list {
    font-size:20px;
  }

  .button-container {
    margin-top:40px;
  }

  .one {
    flex:1;
  }

  .two {
    flex:2;
    text-align:left;
  }

  .three {
    flex:3;
    text-align:left;
    text-align: top;
  }
}