/* Treatment */
#life-list-container {
    background: var(--prim-color);
    padding: 10px;
}

#life-list{
    text-align: left;
    font-size:25px;
}

.life-list-item {
    margin: 10px;
    border-bottom: yellow;
}

.lifestyle-img {
    margin-top: 15px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom:5px;
}

@media only screen and (min-width:600px) {
    #life-list {
        display:flex;
        flex-wrap:wrap;
        padding:10px;
    }

    .life-list-item {
        background: var(--prim-color);
    }
    
    .lifestyle-img {
        margin-top: 15px;
        width: 400px;
        height: 300px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5px;
    }

    .life-list-item {
        margin:5px;
        flex:40%;
    }
}