/* Treatment */
#life-list-container {
    background-color: var(--bckgrd-color);
}

#life-list{
    text-align: left;
    font-size:25px;
}

#life-list li {
    text-decoration: none;
}

#lifelist div{
    margin:10px;
}

.lifestyle-img {
    margin-top: 15px;
    max-width: 100%;
    margin-bottom:5px;
}

@media only screen and (min-width:600px) {
    /* Treatment */
    .life-list {
        display:flex;
        flex-wrap:wrap;
        background-color: var(--bckgrd-color);
    }
    
    .lifestyle-img {
        margin-top: 15px;
        width: 400px;
        height: 300px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5px;
    }

    .life-list-item {
        margin:5px;
        flex:40%;
    }
}