/* Main Page */
#quote {
    font-size:20px;
    color:var(--nav-color);
}

#div-mainpage {
    background-image: url(../images/mainpage/background.png);
    background-repeat: no-repeat;
    background-position: center 0;
    margin:0;
    padding:0;
}

#div-maincontent {
    z-index: 1;
}

#div-intro {
    margin:auto;
}

#div-img {
    display:block;
    margin:auto;
    width:fit-content;
}

#img-intro-container {
    vertical-align:top;
    display:inline-block;
    text-align:left;
}

#img-intro {
    max-width:100%;
    z-index: 2;
}

/* Moon */
.crescent-moon {
	--w: 60px; /* Base Size */
	--angle: -5deg; /* Rotation */
	position: relative;
	width: var(--w);
	height: var(--w);
}

.crescent-moon::before {
	content: "";
	position: absolute;
	top: 8.5%;
	left: 30%;
	width: calc(var(--w) / 1.4);
	height: calc(var(--w) / 1.4);
	border-radius: 50%;
	/* Shape adjustment */
	box-shadow: calc(var(--w) / (-6)) 0px 0px calc(var(--w) / 7) var(--sec-color);
	transform: rotate(var(--angle));
}

#moon {
    position:relative;
    left:288px;
    bottom:970px;
    animation: rise 1.7s ease-out forwards;
    z-index:0;
}


@keyframes rise {
    0% {
        bottom: 850px;
    }

    100% {
        bottom: 970px;
    }
}

/* Hill */
#hill-container {
    overflow-x:hidden;
    overflow-y:hidden;
}

#hill {
    position:absolute;
    z-index:-1;
    height: 1000px;
    width: 1000px;
    background-color: var(--prim-color);
    border-radius: 50%;
    right:-260px;
    bottom:-320px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hill-night {
    background-color:none;
    overflow: hidden;
}

@media only screen and (min-width:600px) {
    /* Main-Page */
    h1 {
        font-size:69px;
    }

    #main-nav {
        top:-100px;
    }

    #div-maincontent {
        max-width:70%;
        align-content: center;
        margin:auto;
    }


    #img-intro-container {
        vertical-align:top;
        display:inline-block;
        text-align:left;
        margin: auto;
    }

    #img-intro {
        max-width:60%;
        min-width:100%;
        height:390px;
        overflow-y:visible;
        z-index: 1;
    }

    @keyframes rise {
        0% {
            bottom: 890px;
        }
    
        100% {
            bottom: 950px;
        }
    }

    #moon {
        position:relative;
        left: 651px;
        bottom:120px;
    }

    #hill {
        width:2000px;
        height:1900px;
        top:300px;
        right:-38px;
    }
}