#success-stories-container {
    background: var(--prim-color);
    padding: 10px;
}

#success-stories-container div {
    
}

#success-stories {
    margin:10px;
    
}

#success-stories div {
    margin:5px;
}